# Dependencies
node_modules/


# Build artifacts
dist/
coverage/

# Environment variables for both backend and frontend
.env
*.env.local/

# IDE and OS files
.idea
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Ignore the variant summary files
variant_summary.txt
variant_summary.txt.gz